.slider {
    height: 500px;
    overflow: hidden;
}
.slider--width {
    height: 100%;
    display: flex;
    transition: all ease 0.8s;
}
.slider--item {
    width: 450px;
    height: 450px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
}
.slider--controls {
    position: absolute;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls{
    font-size: 80px;
    cursor: pointer;
    margin: 10px;
}