.slider {
    width: 100%;
    height: 450px;
    overflow: hidden;
    background: #bed7e7;
}

.slides {
    width: 500%;
    height: 300px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 340px;
    height: 350px;
    margin-left: 100px;
    margin-top: 30px;
}

.manual--navegation {
    position: absolute;
    width: 100%;
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.manual--navegation label {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
    width: 7px;
    height: 7px;
    margin-top: 60px;
}

.manual--navegation label:not(:last-child) {
    margin-right: 40px;
}

.manual--navegation label:hover {
    background: orange;
    transition: all;
}

#slide1:checked~.first {
    margin-left: 0;
}

#slide2:checked~.first {
    margin-left: -20%;
}

#slide3:checked~.first {
    margin-left: -40%;
}

.slider-2{
   margin-bottom: 30px;
}

.slider-2 h2{
    margin: 20px 0px 0px 30px;
    font-size: 20px;
    font-weight: bolder;
}

.slider-2--area{
    overflow: hidden;
    padding-left: 30px;
    white-space: nowrap
}

.slider-2--list{
    width: 99999px;
}

.slider-2--img{
    display: inline-block;
    width:  150px;
    cursor: pointer;
}

.slider-2--img img{
    width: 100%;
    transform: scale(0.9);
    transition: ease-in-out 0.4s;
}

.slider-2--img img:hover{
    transform: scale(1);
}