.slider {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 300px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 340px;
    height: 350px;
    margin-left: 100px;
    margin-top: 30px;
}

.manual--navegation {
    position: absolute;
    width: 100%;
    margin-top: 75px;
    display: flex;
    justify-content: center;
}

.manual--navegation label {
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
    width: 7px;
    height: 7px;
    margin-top: 60px;
}

.manual--navegation label:not(:last-child) {
    margin-right: 40px;
}

.manual--navegation label:hover {
    background: orange;
    transition: all;
}

#slide1:checked~.first {
    margin-left: 0;
}

#slide2:checked~.first {
    margin-left: -20%;
}

#slide3:checked~.first {
    margin-left: -40%;
}

.fashionRow{
    display: none;
}

.fashionRow h2{
    margin: 0px 0px 0px 30px;
    font-size: 23px;
    font-weight: bolder;
}

.fashionRow-listArea{
    margin-left: 30px;
}

.fashionRow-list{
    width: 250px;
}

.fashionRow-item{
    display: inline-block;
    width: 200px;
    height: 200px;
}

.fashionRow-item img{
    width: 100%;
    height: 100%;
    transform: scale(0.9);
}

.fashionRow-item img:hover{
    transform: scale(1);
    transition: all 0.4s;
}

.slider2{
    display: flex;
    
    
    
    overflow-x: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 35px;
    width: 999px;
}