.highlights{
    height: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:#186797;
}


.highlights--links{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 100px;
}


.highlights--links:hover{
    transform: scale(1.1);
    transition:  0.3s;
    color: orange;
}

.highlights--prime{
    text-decoration: none;
    font-size: 24px;
    margin-left: 100px;
    color: gold;
    font-weight: bolder;
    text-shadow: 0 0 8px gold, 0 0 29px yellow;
    box-shadow: inset 0 0 32px gold, o o 32px gold;
}

.highlights--prime:hover{
    transform:scale(1.1);
    text-shadow: 0 0 8px orange, 0 0 29px orange;
    box-shadow: inset 0 0 32px orange, o o 32px orange;
    color: orange;
    transition: 0.3s;
}