.highlights{
    width: 1329px;
    height: 70px;
    padding: 10px;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    display: flex;
    background: #0a5d91;
}

.highlights li{
    margin-top: 60px;
    font-size: 18px;
    cursor: pointer;
}