main {
    width: 100%;
    height: 650px;
    background: #6cafd8;
    
}

.box {
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 30px 10px white;
    border-radius: 5px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 18px;
}

.box:hover{
    transform: scale(1.05);
    transition: all 1s;
}

.slide--img {
    height: 100%;
    width: 100%;
}

.slide--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail--box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background: white;
}

.type {
    display: block;
    text-align: center;
    width: 100%;
}

.price {
    display: inline-block;
}

.car{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: green;
    width: 200px;
 }

 .car button{
     background: green;
     border: none;
     width: 100%;
     cursor: pointer;
     height: 35px;
     color: white;
     font-size: 16px;
 }
.car button:hover {
    background: rgb(10, 192, 10);
}
.back--home {
    width: 100%;
    height: 50px;
    border: none;
    background: #0a5d91;
    color: white;
    cursor: pointer;
}

.back--home:hover {
    background: #0f4d74;
    transition: 0.3s;
    color: orange;
}

.modal{
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 30px 10px #6cafd8;
    border-radius: 20px;
    position: fixed;
    top: 0;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    background: red;
    display: none;
}
    
    .modal--header{
        width: 100%;
        height: 50px;
    }
    
    .modal--close{
        background: red;
        border: none;
        height: 30px;
        width: 30px;
        color: white;
        cursor: pointer;
        margin-left: 96%;
        border-radius: 10px;
    }
    
    .modal--body{
        height: 350px;
        width: 200px;
    
    }
    
    .form--area{
        height: 100px;
        width: 200px;
        margin-left: 200px;
      
    }
    
    
    .form--area input {
        width: 100%;
    }
    
    .form--area button{
        margin-top: 10px;
        margin-left: 5px;
    }
    
    .modal--buttons{
        margin-top: 20px;
    
       
        width: 270px;
        height: 100px;
    }
    
    .form--butons{
        background: green;
        border: none;
        height: 40px;
        width: 200px;
        color: white;
        border-radius: 20px;
    }

