header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background:#032940
}

input{
    height: 20px;
    border-radius: 5px;
    border: none;
    width: 300px;
    padding: 10px;
}

.menu--login,
.menu--address{
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.menu--login:hover,
.menu--address:hover{
   transform: scale(1.1);
   transition:  0.3s;
}