body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(236, 219, 188);
}

.box--record{
    border: 1px solid black;
    width: 400px;
    height: 500px;
    background: white;
    box-shadow: 3px 3px 20px 3px #0a5d91;
    border: none;
    margin-top: 15px;
}

.box--title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Charm', cursive;
    font-family: 'Kalam', cursive;
    height: 45px;
 }

.form--area{
    height: 300px;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
}

label{
    margin-left: 5%;
    font-family: 'Thasadith', sans-serif;
}

input{
    width: 350px;
    margin-left: 5%;
    height: 35px;
    margin-bottom: 12px;
    border-radius: 3px;
    border: 1px solid;
}
.continue {
    text-decoration: none;
    font-size: 18px;
    width: 360px;
    height: 40px;
    background: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 5%;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.continue:hover{
    background: rgb(10, 192, 10)
}

.conditions{
    height: 90px;
    width: 360px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 10px;
    line-height: 25px;
    font-family: 'Thasadith', sans-serif;
}

.errorInput{
    border: 1px solid red;
}