body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(236, 219, 188);
}

.container{
    height: 420px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 3px 3px 20px 3px #0a5d91;
    background: white;
    margin-top: 5%;
}

.container--title{
    font-family: 'Kalam', cursive;
    text-align: center;
}

.container--description p{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Thasadith', sans-serif;
    font-size: 14px;
    text-align: center;
    color: red;
}

.login a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    background: #0a5d91;
    width: 90%;
    margin-left: 5%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.CEP{
    text-align: center;
    font-family: 'Thasadith', sans-serif;
}

.input{
   text-align: center;
}

.endereco{
    width: 90%;
    height: 250px;
    margin-left: 5%;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

form input{
    margin-top: 10px;
    margin-left: 3%;
    width: 90%;
    height: 30px;
}