.slider{
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: #6cafd8;
}

.slides{
    width: 500%;
    height: 300px;
    display: flex;

}

.slides input{
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 300px;
    height: 250px;
    margin-left: 100px;
    margin-top: 30px;
}

.manual--navegation{
    position:absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual--bar{
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
    width: 7px;
    height: 7px;
    margin-top: 60px;
}

.manual--bar:not(:last-child){
    margin-right: 40px;
}

.manual--bar:hover{
    background: orange;
}

#slide1:checked ~ .first{
    margin-left: 0;
}

#slide2:checked ~ .first{
    margin-left: -20%;
}

#slide3:checked ~ .first{
    margin-left: -40%;
}

