

.back--home{
    width: 100%;
    height: 50px;
    border: none;
    background: #094469;
    color: white;
    cursor: pointer;
}

.back--home:hover{
    background:#0f4d74 ;
    transition: 0.3s;
    color: orange;
}