header{
    background-image: linear-gradient(to bottom, #D9E8F5,#304269);
}
.menu{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input{
    margin-left:10px;
    height: 20px;
    font-size: 18px;
}

.menu--login,
.menu--car{
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.menu--car:hover,
.menu--login:hover,
.highlights--bestes:hover,
.highlights--revenue:hover,
.highlights--health:hover,
.highlights--prime:hover{
    border: 2px solid white;
    color: white;
    padding: 4px;
}
